<header class="bar bar-nav">
  <div class="segmented-control">
    {{#link-to 'weekday' classNames="control-item"}}平日{{/link-to}}
    {{#link-to 'holiday' classNames="control-item"}}六日／公眾假期{{/link-to}}
  </div>
</header>
{{outlet}}
<nav class="bar bar-tab">
  <a class="tab-item active" href="#">
    駿景園巴士服務時間表
  </a>
</nav>
