<header class="bar bar-nav">
  <div class="segmented-control">
    {{#link-to 'weekday' classNames="control-item"}}平日{{/link-to}}
    {{#link-to 'holiday' classNames="control-item"}}六日／公眾假期{{/link-to}}
  </div>
</header>
{{outlet}}
<nav class="bar bar-tab" style="text-align:center">
  <h2>駿景園巴士服務時間表</h2>
  <h6>Last update 2014-05-01</h6>
</nav>
