 <div class="content">
  <div class="segmented-control">
    {{#link-to 'weekday.shatin' classNames="control-item"}}去新城市{{/link-to}}
    {{#link-to 'weekday.home' classNames="control-item"}}返駿景園{{/link-to}}
  </div>
  {{outlet}}
 </div>
